{% if page is not empty %}
    <div class="debug-btn-wrapper pt-1 pb-1 text-center">
        <a class="debug-btn"
           id="debugPage"
           data-toggle="modal"
           data-backdrop="static"
           data-target="#jegoPage">{% sw_icon 'browser' style {'color': 'primary', 'size': iconSize} %}</a></div>
{% endif %}