{% if page.product is not empty %}
    <div class="debug-btn-wrapper pt-1 pb-1 text-center">
        <a class="debug-btn"
           id="debugProduct"
           data-toggle="modal"
           data-backdrop="static"
           data-target="#jegoProduct">{% sw_icon 'debug' style {'color': 'primary', 'size': iconSize} %}</a></div>
{% endif %}