{% if shopware is not empty %}
    <div class="debug-btn-wrapper pt-1 pb-1 text-center">
        <a class="debug-btn"
           id="debugSw"
           data-toggle="modal"
           data-backdrop="static"
           data-target="#jegoSw">{% sw_icon 'shopware' style {'color': 'primary', 'size': iconSize} %}</a></div>
{% endif %}